@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .w-container {
        max-width: 47rem;
        width: 100%;
    }

    .w-modal {
        max-width: 100%;
        width: 30rem;
    }

    .rounded-modal {
        border-radius: 1.5rem;
    }

    .alert {
        top: -0.5rem;
        right: 0.5rem;
        max-width: 16rem;
        z-index: 9999;
    }

    .bg-btn {
        background-color: #7357FF;
    }

    .color-btn-2 {
        color: #7357FF;
    }

    .bg-btn:hover {
        background-color: #533dc2;
    }

    .input-focus {
        @apply border-2 border-gray-100 rounded-lg;
    }
}

.input-focus:focus-visible {
    border-color: #7357FF;
    border-width: 0.05rem;;
    outline-color: #7e64ff7e;
    outline-width: 1.25rem;
    outline-offset: 0.15rem;
}

@layer base {
    body {
        @apply bg-slate-100;
        position: relative;
        /*min-height: 100vh;*/
    }
}